[submodule "roles/mafalb.ansible_ci"]
	path = roles/mafalb.ansible_ci
	url = git@github.com:mafalb/ansible-ansible_ci
[submodule "roles/mafalb.ansible"]
	path = roles/mafalb.ansible
	url = git@github.com:mafalb/ansible-ansible
[submodule "roles/mafalb.docker"]
	path = roles/mafalb.docker
	url = git@github.com:mafalb/ansible-docker
