# vim: set ft=yaml ts=2:
---

sudo: required
dist: xenial
language: minimal
env:
  - targeted_ansible_version: 2.7

before_install:
  - sudo apt-add-repository --yes ppa:ansible/ansible-${targeted_ansible_version} && sudo apt-get update
  - sudo apt-get install ansible
  - dpkg -l
  - export ANSIBLE_CI_BRANCH=$TRAVIS_BRANCH CI_BUILD_DIR=$TRAVIS_BUILD_DIR ANSIBLE_FORCE_COLOR=1
  - sudo ln -s $TRAVIS_BUILD_DIR /etc/ansible/roles/mafalb.ansible_ci
  - ls -lR /etc/ansible/roles
  - ls -lR tests/
  - ansible --version
  - ansible localhost -m setup
  - ansible-playbook -b -D -t all,debug before_install.yml
install:
  - ansible-playbook -b -D -t all,debug install.yml
script:
  - ansible-playbook -D -t all,debug tests/test.yml
  - sudo docker ps
  - ansible-playbook -D -t all,debug tests/test.yml | tee /tmp/idempotence.tee
  - sudo docker ps
  - "! grep -E 'ok=.*changed=[^0].*unreachable=.*failed=' /tmp/idempotence.tee"
after_script:
  - echo done
