# vi: set ft=yaml ts=2:
---

- name: ansible
  src: https://github.com/mafalb/ansible-ansible
  version: origin/{{ ansible_env.TRAVIS_BRANCH|default('master') }}

- name: docker
  src: https://github.com/mafalb/ansible-docker
  version: origin/{{ ansible_env.TRAVIS_BRANCH|default('master') }}

...
